{% extends 'base.html.twig' %}

{% block title %}New Typetransaction{% endblock %}

{% block body %}
    <h1>Create new Typetransaction</h1>

    {{ include('typetransaction/_form.html.twig') }}

    <a href="{{ path('typetransaction_index') }}">back to list</a>
{% endblock %}
