{% extends 'base.html.twig' %}

{% block title %}Type de transaction effectué{% endblock %}

{% block body %}
    <h1>Créer le type de transaction</h1>

    {{ include('typetransaction/_form.html.twig') }}

    <a href="{{ path('typetransaction_index') }}">retour à l'accueil</a>
{% endblock %}
