{% extends 'admin/base.html.twig' %}

{% block title %}{{ profil.nomprofil }} - Editer{% endblock %}

{% block body %}
    <h1>Editer {{ profil.nomprofil }}</h1>

    {{ include('admin/profil/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_profil_index') }}" class="btn btn-secondary">Retourner à la liste</a>
{% endblock %}
